### 1. True or False.
(a) In class imbalanced classification tasks, the goal is to find the model that has the highest accuracy. (True False)
### False

(b) Over-fitting is the biggest issue with over-sampling. (True False)
### True

(c) Under-fitting is the biggest issue with over-sampling. (True False)
### False

(d) A model with a large number of input variables always have a good performance. (True False)
### False

(e) If we run the SMOTE sampling technique multiple times on an imbalanced dataset, we will always obtain the same synthetic dataset. (True False) 
### False

(f) Having access to good data is better than having a good model. (True False)
### True

(g) RFE works with any support vector machine model. (True False)
### False

(h) RFE doesn’t work with any support vector machine model. (True False)
### False

(i) A typical approach to engineer features is to consider interactions because most interactions help models to generate good predictions. (True False)
### True

(j) The support vectors in support vector machine models can be used to identify important variables/featues. (True False)
### False

### 2. How does the Recursive Feature Elimination (RFE) algorithm work? Be specific.

The Recursive Feature Elimination (RFE) algorithm works basically as a backward selection of the predictors. This technique begins building a model with all set of predictors and computing an importance score for each predictor. The least important predictor(s) are removed, then the process repeat again. The analyst usually specifies the number of predictor to be used in the model.

### 3. Explain one-hot encoding. Be specific.

One-hot enconding is the proccess of creating numeric dummies variables out of a multi-class variable.

### 4. If you have a date column in your data-frame, then how will you perform feature engineering on the date column? List at least three features that you will engineer from date. Be specific.

Having a date column in my data-frame, I could engineer a feature to store the month, it would facilitate the subseting of the data if needed. In the same logic, I could engineer a feature to sotre the year. I could also extract the day name (Sun, Mon, Tue, Wed, Thu, Fri, Sat). From there, I could engineer features about whether it was a week or weekend. Holiday or not, and so on.

### 5.  In what scenarios, would you prefer to use the precision-recall curve instead of ROC curve to measure the performance of a classifier? Be specific.

I would prefer to use the precision-recall curve instead of ROC curve to measure the performance of a classifier when the dataset is imbalanced.

### 6. Explain the biggest drawback of one-vs-one multi-class classification when compared to one-vs-all multi-class classification. Be specific.

The biggest draw drawback of one-vs-one multi-class classification when compared to one-vs-all multi-class classification is because one-vs-one is harder to interprete and less efficient than one-vs-all.

### 7. A data scientist is building a linear regression model. One of the input variables is a categorical variable with three labels. So, he decided to use the one-hot encoding approach to transform the categorical variable into dummy variables. How many dummy variables does he need to include in the linear model?
(a) 0\
(b) 1\
(c) 2 \
(d) 3 \
(e) None of the above

### Answer:
(c) 2

### 8. Suppose you are building a fraud detection system for major US bank. You have access to all the transaction data for the past week for users (date, location, and amount).What kind of new features can you engineer? Be creative and list at least three features that you would engineer for the fraud detection system.

Using date, I would engineer the day name of the week, and whether it was a week or weekend transaction. Using location, I could extract the demographic data from the rigion and create some type of risk measurement of the area. For example, a transaction in São Paulo, BRA would have a much hiher risk than a transaction in Iowa, USA. Also, a dummy variable to sotre an information about whether it was a transaction within the "normal" location range that the user usually act. Lastly, I would flag in a dummy variable all transactions that were outside of the range the user usually expend.

### 9. The chart below was constructed using data related to credit card payments of college students. On the x-axis, we have the credit card balance, and on the y-axis we have the college students’ incomes. The light-blue circles represent payments that didn’t default; on the other hand, the orange circles represent credit card payments that default.

### Let’s assume that you are the data scientist in charge of this project. The goal is to build a classification system that can flag future credit card payments that are likely to default. Answer the following:
### (a) Is the dataset imbalanced? Be specific.

This dataset is imbalanced because the light-blue circles have a very high proportion when compared to the orange circles.

### (b) Using the above chart, engineer one feature for your classification model. Be specific.

I would engineer a feature to store the interaction between Income and Balance by multiplying them.

### 10. Which of the following is/are TRUE feature subset selection?
(a) Subset selection can substantially decrease the bias of support vector machine models.\
(b) Ridge regression frequently eliminates some of the features.\
(c) Subset selection can reduce over-fitting.\
(d) Finding the true best subset takes exponential time.

### Answer:
(c) Subset selection can reduce over-fitting.\
(d) Finding the true best subset takes exponential time.

### 11. A data scientist is building a regression model. A few of the input variables are categorical, and he has not looked at the distribution of the categorical data in the test data. The data scientist wants to apply the one-hot encoding on the categorical features. What challenges he may face if he have applied one-hot encoding on a categorical variable of the train dataset?

(a) All categories of categorical variable are not present in the test dataset.\
(b) Frequency distribution of categories is different in train as compared to the test dataset.\
(c) Train and test always have same distribution.\
(d) (a) and (b)\
(e) (a) and (c)\
(f) (b) and (c)\
(g) None of the above.

### Answer:
(d) (a) and (b)

### 12. What is the difference between feature engineering and feature selection? Be specific.

Feature engineering is the process of creating new features from raw data and trasforming them into formats that are suitable for the machine learning model. While feature selection is the proccess of selecting the most important features for the machine learning model. Therefore, the difference between feature engineering and feature selection is that in feature engineering we are creating new features while in feature selection we are selecting the most important features.

### 13. Based on the discussions from Chapter 4, list at least two benefits of feature selection. Be specific.

By performing feature selection, you will likely decrease the number of predictors/input variables, which automatically decreases the complexity of the model. In some cases, removing the predictors can reduce the cost of acquiring data or improve the throughput of the software used to make predictions.

### 14. Consider the F1-scores of three different classifiers in a 5-folds cross-validation setting (using the same test dataset) is shown below.

In [8]:
import pandas as pd

fold_cv = pd.DataFrame({'fold': [1, 2, 3, 4, 5], 
                        "Model 1": [0.76, 0.77, 0.78, 0.79, 0.76],
                        "Model 2": [0.81, 0.78, 0.78, 0.80, 0.79],
                        "Model 3": [0.75, 0.73, 0.76, 0.75, 0.73]})
fold_cv

   fold  Model 1  Model 2  Model 3
0     1     0.76     0.81     0.75
1     2     0.77     0.78     0.73
2     3     0.78     0.78     0.76
3     4     0.79     0.80     0.75
4     5     0.76     0.79     0.73

### Based on the F1-score, what model would use to make predictions? Be specific.

In [11]:
print("Model 1 F1-score average: ", fold_cv['Model 1'].mean())
print("Model 2 F1-score average: ", fold_cv['Model 2'].mean())
print("Model 3 F1-score average: ", fold_cv['Model 3'].mean())

Model 1 F1-score average:  0.772
Model 2 F1-score average:  0.792
Model 3 F1-score average:  0.744

### Answer:
I would choose model 2 to make predictions.

### 15. Consider the train.csv and test.csv data files. The train.csv data file contains information on default payments, demographic factors, credit data, history of payment, and bill statements of credit card clients in Taiwan from April 2005 to September 2005.

### (a)  Using the pandas library, read the train.csv and test.csv data files and create two data-frames, called them train and test.

In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler
from scipy.stats import boxcox
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier
from sklearn.metrics import confusion_matrix, classification_report
from sklearn.multiclass import OneVsRestClassifier
from sklearn.tree import DecisionTreeClassifier, plot_tree
import precision_recall_cutoff # Calling .py function
from sklearn.feature_selection import RFE, RFECV
from sklearn.svm import SVR

train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")
test.shape

(6000, 23)

In [15]:
test.head()

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6
0,120000,2,2,2,26,-1,2,0,0,0,...,2682,3272,3455,3261,0,1000,1000,1000,0,2000
1,50000,2,2,1,37,0,0,0,0,0,...,49291,28314,28959,29547,2000,2019,1200,1100,1069,1000
2,20000,1,3,2,35,-2,-2,-2,-2,-1,...,0,0,13007,13912,0,0,0,13007,1122,0
3,200000,2,3,2,34,0,0,2,0,0,...,5535,2513,1828,3731,2306,12,50,300,3738,66
4,630000,2,2,2,41,-1,0,-1,-1,-1,...,6500,6500,6500,2870,1000,6500,6500,6500,2870,0

In [16]:
train.shape

(24000, 24)

In [17]:
train.head()

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
0,400000,1,1,2,32,0,0,0,0,0,...,48272,49478,51242,3028,3023,3000,3000,3000,38662,0
1,120000,2,2,2,30,-1,-1,-1,-1,-1,...,1964,1883,1538,3230,3011,1964,1883,1538,1911,0
2,270000,2,2,2,32,0,0,0,0,0,...,94856,86461,83650,1808,69563,2891,2689,3012,2771,0
3,280000,2,2,1,27,0,0,0,0,0,...,257689,193231,191143,11052,9563,15017,5374,5420,6021,0
4,30000,2,1,2,27,0,0,-1,0,0,...,1814,0,0,1000,664,1500,0,0,0,0

### (b)  Report the frequency table of default payment next month variable in the train data-frame.

In [18]:
train['default payment next month'].value_counts()

0    18691
1     5309
Name: default payment next month, dtype: int64

In [20]:
round(train['default payment next month'].value_counts() / train.shape[0], 2)

0    0.78
1    0.22
Name: default payment next month, dtype: float64